<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="login-conteiner">
          <h1>Login</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form action="/login" method="post">
          <label for="email">E-mail</label>
          <input type="email" name="email" required/>
          <label for="password">Senha</label>
          <input type="password" name="password" required/>
          <button type="submit">Entrar</button>
        </form>
        <h3>Cadastre-se</h3>
        <p>Ainda não possui conta? Cadastra-se no site</p>
        <a
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#registrar"
        >Cadastrar</a>
      </div>
    </div>
  </div>
</div>