<header>
  <nav>
    <span><a href="/"><img src="assets/img/cat.png" alt="Logo" /></a></span>
    <div class="navbar">
      <button id="btn-login" data-bs-toggle="modal" data-bs-target="#exampleModal">LOGIN</button>
      <button id="btn-registrar" data-bs-toggle="modal" data-bs-target="#registrar">REGISTRAR</button>
    </div>
  </nav>
</header>
